<!doctype html>
<html>

<head>
    <title>Find My Representative</title>
</head>

<body>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="zipcode">Zipcode:</label>
            <input type="text" id="zipcode" name="zipcode">
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>

    <div>
        <ul>
            {% for rep in reps %}
                <li>
                    <p>Name: {{ rep.name }}</p>
                    <p>State: {{ rep.state }}</p>
                    <p>District: {{ rep.district }}</p>
                    <p>Phone: {{ rep.phone }}</p>
                    <p>Address: {{ rep.address }}</p>
                    <p>URL: {{ rep.url }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>

</html>
